 <aside class="sidebar">
                    <nav class="sidebar-nav">
                        <ul class="metismenu" id="menu">
                            <li>
                                <a href="#"><i class="icon-grid"></i> <span class="nav-label">Dashboard</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li><a href="index.html">Dashboard 1</a></li>
                                    <li><a href="index-2.html">Dashboard 2</a></li>
                                    <li><a href="index-3.html">Dashboard 3</a></li>
                                </ul>
                            </li>
                                                   
                            <li>
                                <a href="investor"><i class="fa fa-cog"></i> <span class="nav-label">Investors</span></a>
                            </li>

                            <li>
                                <a href="company"><i class="fa fa-cog"></i> <span class="nav-label">Companies</span></a>
                            </li>


                        </ul>
                        <!-- END SIDEBAR MENU -->
                    </nav>
                    <!-- END SIDEBAR -->
                </aside>



                

                <!-- BEGIN CONTENT BODY -->
                <div class="page-content-wrapper">
                   <div class="content-wrapper container">
                       


                       
                  