<div class="row">
 	 <div class="col-sm-9">
 	 	<div class="row">
		    
		    <div class="col-md-6 col-lg-4">
		        <div class="card panel-card recent-activites">
		            <div class="card-header">
		                [+properties+]
		                <div class="float-right">
		                     <div class="btn-group">
		                        <button type="button" class="btn btn-info btn-rounded btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
		                        <div class="dropdown-menu panel-dropdown" role="menu">
		                           <a class="dropdown-item" href="#">[+add_property+]</a>
		                           <a class="dropdown-item" href="#">[+view+]</a>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="card-block text-xs-center">
		                <i class="icon-layers widget-icon"></i>  <h1 class="right panel-middle margin-b-0">[+total_properties_db+]</h1>
		            </div>
		        </div><!-- End .panel --> 
			</div>      

		    <div class="col-md-6 col-lg-4">
		        <div class="card panel-card recent-activites">
		            <div class="card-header">
		                [+cash_by_us+]
		                <div class="float-right">
		                    <div class="btn-group">
		                        <button type="button" class="btn btn-info btn-rounded btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">[+action+]<span class="caret"></span></button>
		                        <div class="dropdown-menu panel-dropdown" role="menu">
		                           <a class="dropdown-item" href="#">[+trasfer+]</a>
		                        </div>

		                    </div>
		                </div>
		            </div>
		            <div class="card-block text-xs-center">
		                <i class="fa fa-gbp widget-icon"></i>  <h1 class="right panel-middle margin-b-0">[+cash_by_us_db+]</h1>
		            </div>
		        </div>
		    </div>

		    <div class="col-md-6 col-lg-4">
		        <div class="card panel-card recent-activites">
		            <!-- Start .panel -->
		            <div class="card-header">
		                <!-- [+extra+] -->
		                <div class="float-right">
		                    <div class="btn-group">
		                        <button type="button" class="btn btn-info btn-rounded btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">[+action+]<span class="caret"></span></button>
		                       <div class="dropdown-menu panel-dropdown" role="menu">
		                           <a class="dropdown-item" href="#">[+action+]</a>
		                        </div>

		                    </div>
		                </div>
		            </div>
		            <div class="card-block text-xs-center">
		                <i class="icon-like widget-icon"></i>  <h1 class="right panel-middle margin-b-0">
		                <!-- [+extra_db+] -->
		            </h1>
		            </div>
		        </div>
		    </div>

		</div>
	
		<div class="row row-eq-height">
	    	<div class="col-md-4">
	       		<div class="panel panel-card recent-activites">
	                <div class="panel-heading">
	                	[+sharehold+] 
			                <div class="float-right">
			                    <div class="btn-group">
			                        <button type="button" class="btn btn-info btn-rounded btn-sm dropdown-toggle" id="add_investor_button" data-toggle="dropdown" aria-expanded="false">[+action+]<span class="caret"></span></button>
			                        <div class="dropdown-menu panel-dropdown" role="menu">
			                           
			                            <a class="dropdown-item" data-toggle="modal" data-target="#add_investor_form_model" href="companyview/addinvestor">[+add_investor+]</a>

			                        </div>
			                    </div>
			                </div>
	            	</div>
		            <div class="panel-body  p-xl-3" >
		                <div class="table-responsive">
		                    <table id="basic-datatables" class="table table-bordered">
		                        <thead>
		                            <tr>
		                                <th>[+sharehold+]</th>
		                                 <th>[+percentage+]</th>
		                                <th>[+view+]</th>
		                            </tr>
		                        </thead>
		                        <tbody>
			                    	[+Company_table_content_db+]
		                        </tbody>
		    					<tfoot>
							        <tr>
							            <th>[+sharehold+]</th>
		                                 <th>[+percentage+]</th>
		                                <th>[+view+]</th>
							        </tr>
						    	</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
            
			<div class="col-md-8">
			    <div class="panel panel-card recent-activites">
			        <!-- Start .panel -->
			        <div class="panel-heading">
			            Bar Chart
			            <div class="float-right">
			                <div class="btn-group">
			                    <button type="button" class="btn btn-info btn-rounded btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action<span class="caret"></span></button>
			                </div>
			            </div>
			        </div>
			        <div class="panel-body text-center p-xl-3">
			            <canvas  id="canvas"></canvas>
			        </div>
			    </div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="tabs-container">
	    	 <ul class="nav nav-pills nav nav-tabs">
	    	 	<li class="nav-item"><a data-toggle="tab" href="#tab-1" aria-expanded="false" class="nav-link">[+business+] [+information+]</a></li>     
	        	<li class="nav-item"><a data-toggle="tab" href="#tab-2" aria-expanded="false" class="nav-link">[+bank+] [+information+]</a></li>
	        	<li class="nav-item"><a data-toggle="tab" href="#tab-3" aria-expanded="false" class="nav-link">[+business+] [+address+]</a></li>
	        	<li class="nav-item"><a data-toggle="tab" href="#tab-4" aria-expanded="false" class="nav-link">[+business+] [+contact+]</a></li>
	    	</ul>
    		
    		<div class="tab-content">    
    			<div id="tab-1" class="tab-pane active">
        			<div class="panel-body  p-xl-3">
	        	 		<form class="companyview/update" method="post">
	       					<h4 class="mb-xlg">[+business+] [+information+]</h4>
	    					<fieldset>

	    						<div class="form-group row">
			                        <label class="col-lg-4 form-control-label">[+company_name+]</label>
			                        <div class="col-lg-8">
			                            <input type="text" placeholder="[+company_name+]" class="form-control"  name="company_name" value="[+company_legal_name_db+]">
			                        </div>
			                    </div>

		                    	<div class="form-group row">
                            		<label class="col-lg-4 form-control-label">[+foreign+]</label>
		                            <div class="col-lg-8 col-md-9">
		                                <select class="form-control" name="company_foreign">
		                                    <optgroup label="[+foreign+]">
		                                        <option [+foreign_selected_yes+] value="1">[+yes+]</option>
		                                        <option [+foreign_selected_no+] value="0">[+no+]</option>
		                                    </optgroup>                                                      
		                                </select>
		                            </div>
                        		</div>

		                        <div class="form-group row">
		                            <label class="col-lg-4 form-control-label">[+payment_period+]</label>
		                            <div class="col-lg-8 col-md-9">
		                                <select class="form-control" name="payment_period_id">
		                                    <optgroup label="[+payment_period+]">
		                                        <option [+monthly_selected+] value="1">[+monthly+]</option>
		                                        <option [+quarterly_selected+] value="2">[+quarterly+]</option>
		                                        <option [+yearly_selected+] value="3">[+yearly+]</option>
		                                    </optgroup>                                                      
		                                </select>
		                            </div>
		                        </div>

		                        <div class="form-group row">
		                            <label class="col-lg-4 form-control-label">[+company_number+]</label>
		                            <div class="col-lg-8">
		                                <input type="text" value="[+company_number_db+]" placeholder="[+company_number+]" class="form-control" name="company_number">
		                            </div>
		                        </div>

	                            <div class="form-group row">
	                            	<label class="col-lg-4 form-control-label">[+vat_number+]</label>
	                            	<div class="col-lg-8">
	                                	<input type="text" value="[+company_vat_number_db+]" placeholder="[+vat_number+]" class="form-control" name="company_vat_number">
	                            	</div>
	                       		</div>

		                        <div class="form-group row">
		                            <label class="col-lg-4 form-control-label">[+company_add_commission+]</label>
		                            <div class="col-lg-8">
		                                <input type="text" value="[+company_add_commission_db+]" placeholder="[+company_add_commission+]" class="form-control"  name="company_add_commission">
		                            </div>
		                        </div>

		                        <div class="form-group row">
		                            <label class="col-lg-4 form-control-label">[+company_layout_without_consent+]</label>
		                            <div class="col-lg-8">
		                                <input type="text" value="[+company_layout_without_consent_db+]" placeholder="[+company_layout_without_consent+]" class="form-control"  name="company_layout_without_consent">
		                            </div>
		                        </div>

		                        <div class="form-group row">
		                            <label class="col-lg-4 form-control-label">[+financial_year+]</label>
		                            <div class="col-lg-8">

		                                 <input type="text" placeholder="DD/MM"  data-masked="" data-inputmask="'mask': '99/99'" class="form-control"  name="financial_year" value="[+financial_year_db+]" id="financial_year">
		                            </div>
		                        </div>

    						</fieldset>
        			</div>
    			</div>

	        <div id="tab-2" class="tab-pane">
	            <div class="panel-body  p-xl-3">
	            	
	            		<fieldset>	
			                <h4 class="mb-xlg">[+bank+] [+information+]</h4>

			                 <div class="form-group row">
		                        <label class="col-lg-4 form-control-label">[+account_name+]</label>
		                        <div class="col-lg-8">
		                            <input type="text" placeholder="[+account_name+]" class="form-control"  value="[+account_name_db+]" name="account_name">
		                        </div>
		                    </div>

		                    <div class="form-group row">
		                        <label class="col-lg-4 form-control-label">[+bank_ref+]</label>
		                        <div class="col-lg-8">
		                            <input type="text" placeholder="[+bank_ref+]" value="[+bank_ref_db+]" class="form-control"  name="bank_ref">
		                        </div>
		                    </div>

		                    <div class="form-group row">
		                        <label class="col-lg-4 form-control-label">[+account_no+].</label>
		                        <div class="col-lg-8">
		                            <input type="text" placeholder="[+account_no+]." class="form-control"  name="account_no" value="[+account_no_db+]">
		                        </div>
		                    </div>

		                    <div class="form-group row">
		                        <label class="col-lg-4 form-control-label">[+sort_code+]</label>
		                        <div class="col-lg-8">
		                            <input type="text" placeholder="[+sort_code+]" class="form-control"  value="[+sort_code_db+]" name="sort_code">
		                        </div>
		                    </div>

	                       <div class="form-group row">
	                            <label class="col-lg-4 form-control-label">[+manager_account+]</label>
	                            <div class="col-lg-8 col-md-9">
	                                <select class="form-control" name="fk_manager_account_id">
	                                    <optgroup label="[+manager_account+]">[+manager_bank_db+]</optgroup>                                                      
	                                </select>
	                            </div>
	                        </div>
       					</fieldset>
       				
           		</div>
        	</div>

			<div id="tab-3" class="tab-pane">
	            <div class="panel-body  p-xl-3">
	            	
	            		<fieldset>	
			                <h4 class="mb-xlg">[+business+] [+address+] [+information+]</h4>

			                <div class="form-group row">
                            <label class="col-lg-4 form-control-label">[+company_address_number+]</label>
                            <div class="col-lg-8">
                                <input type="text" value="[+company_address_number_db+]" placeholder="[+company_address_number+]" class="form-control"  name="company_address_number">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-lg-4 form-control-label">[+company_address_line_1+]</label>
                            <div class="col-lg-8">
                                <input type="text"  value="[+company_address_line_1_db+]" 
                                placeholder="[+company_address_line_1+]" class="form-control"  name="company_address_line_1">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-4 form-control-label">[+company_address_line_2+]</label>
                            <div class="col-lg-8">
                                <input type="text" value="[+company_address_line_2_db+]" placeholder="[+company_address_line_2+]" class="form-control"  name="company_address_line_2">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-4 form-control-label">[+company_address_town+]</label>
                            <div class="col-lg-8">
                                <input type="text" value="[+company_address_town_db+]" placeholder="[+company_address_town+]" class="form-control"  name="company_address_town">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-4 form-control-label">[+company_address_postcode+]</label>
                            <div class="col-lg-8">
                                <input type="text" value="[+company_address_postcode_db+]" placeholder="[+company_address_postcode+]" class="form-control"  name="company_address_postcode">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-lg-4 form-control-label">[+company_address_country+]</label>
                            <div class="col-lg-8">
                                <input type="text" value="[+company_address_country_db+]" placeholder="[+company_address_country+]" class="form-control"  name="company_address_country">
                            </div>
                        </div>




			            </fieldset> 

			        
			        
                   
			    </div>
			</div>
			    <div id="tab-4" class="tab-pane">
	            <div class="panel-body  p-xl-3">
	            	
	            		<fieldset>	
			                <h4 class="mb-xlg">[+business+] [+contact+] [+information+]</h4>

			                <div class="form-group row">
                            <label class="col-lg-4 form-control-label">[+company_contact_number+]</label>
                            <div class="col-lg-8">
                                <input type="text" value="[+company_contact_number_db+]" placeholder="[+company_contact_number+]" class="form-control"  name="company_contact_number">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-lg-4 form-control-label">[+company_email+]</label>
                            <div class="col-lg-8">
                                <input type="text"  value="[+company_email_db+]" 
                                placeholder="[+company_email+]" class="form-control"  name="company_email">
                            </div>
                        </div>
                    </fieldset>


			</div>


 	    </div>
 	     <div class="form-group row">
                        <div class="col-lg-offset-4 col-lg-10">
                            <button class="btn btn-sm btn-primary" name="submit" type="submit">[+update+]</button>
                        </div>
                    </div>
                    </form>
	   </div>
</div>   








</div>
</div>
</div>
</div>


<div class="modal fade" id="add_investor_form_model" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel panel-card margin-b-30">
                <div class="panel-heading">
                    [+add_investor+]
                </div>
                <div class="panel-body  p-xl-3">






                                <div class="panel panel-card ">
                                    
                                         <div id="wizard1" class="bwizard">
                                        
                                     <ul class="bwizard-steps list-inline">
                                            <li class="list-inline-item" >
                                            
                                                <a href="#tab1" data-toggle="tab" class="active">
                                                    <span class="step-number">1</span>
                                                    <span class="step-text">Investors</span>
                                                </a>
                                            </li>
                                           
                                            <li class="list-inline-item">
                                                <a href="#tab2" data-toggle="tab">
                                                    <span class="step-number">2</span>
                                                    <span class="step-text">Percentages</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="wizard-progress">
                                            <div id="bar" class="progress">
                                                <div class="progress-bar"></div>
                                            </div>
                                        </div>
                                        <form class="form-horizontal" >
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab1">
                                                     <div class="form-group row">
                                                <label class="col-lg-2 col-md-3 form-control-label">Investors</label>
                                                <div class="col-lg-10 col-md-9">
                                                    <select class="form-control select2 " id="select_investors" multiple>
                                                        <optgroup label="investors">

                                                           [+investors_list_db+]
                                                            
                                                        </optgroup>
                                                                                                    
                                                    
                                                    </select>
                                                </div>
                                            </div>
                                                </div>
                                                
                                                <div class="tab-pane" id="tab2">
                                                    
                                                    <div class="form-group row">

                                                    	<div class=" col-md-0">
                                                            <input class="form-control" name="password" type="hidden" name="investor_id" >
                                                        </div>
                                                    
                                                    <div class="col-md-9"> 	
                                                        
                                                            <input class="form-control" name="password" name="investor" type="text" value="Chuni Kahan" readonly>
                                                        
                                                    </div>

                                                    <div class="col-md-3"> 	
                                                        
                                                      <input class="form-control" name="password" name="investor" type="text" placeholder="30%">
                                                        
                                                    </div>

                                                    </div> 
                                                     <div class="form-group row">
									                        <div class="col-lg-offset-4 col-lg-10">
									                            <button class="btn btn-sm btn-primary" name="submit" type="submit">[+create+]</button>
									                        </div>
									                    </div>
                                                </div>
                                            </div>
                                        </form>
                                       
                                    </div>
                                  
                                </div>
                                <ul role="menu" aria-label="Pagination"><li class="" aria-disabled="false">
                                <a href="#previous" role="menuitem">Previous</a></li><li aria-hidden="false" aria-disabled="false">
                              <a href="#next" role="menuitem" id="next">Next</a></li><li aria-hidden="true" style="display: none;"><a href="#finish" role="menuitem">Finish</a></li></ul>
                        </div>
        </div>
    </div>
</div>

